*{box-sizing: border-box;}

:root {
  --red: #fa6262;
  --blue: #cae9f2;
  --bg-gray: #fbfbfb;
  --yellow: #fffacc;
  --green: #e2efc7;
  --pink: #efc7c7;
  --font-color: #000;
  --blue-solid: #a1dbed;
  --green-solid: #d4eda1;
}

body {
  font-family: "Poppins", "sans-serif";
  font-weight: 700;
  width: 100vw;
  height: 100vh;
}

p {
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 40px;
 
}

a {
  color: #000;
  text-decoration: none;
}

.aboutContact {
  display: flex;
  gap: 20px;
  align-items: center;
}

main {
  display: flex;
}

.descriptionBoard {
  display: flex;
  flex-direction: column;
  width: 40%;
  order: 1;
}

.button {
  display: flex;
  gap: 30px;
  justify-content: center;
  border-radius: 5px;
}

.button :first-child {
  background-color: var(--blue-solid);
}

.button :last-child {
  background-color: var(--green-solid);
}

.cardBoard {
  display: flex;
  flex-direction: row;
  width: 60%;
  flex-wrap: wrap;
  padding-left: 20px;
  align-items: center;
  gap: 30px;
  
}

.cards {
  display: flex;
  flex-direction: column;
  width:calc(50% - 30px);
  height: 300px;
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 10px;
  background-color: var(--bg-gray);
  padding-left: 20px;
  position: relative;
}

.descriptor {
  display: flex;
  gap: 10px;
  border-radius: 10px;
}

.gothenburg {
  background-color: var(--yellow);
}
#money {
  background-color: var(--red);
}

#animals, #jobs {
  background-color: var(--green);
}

#office {
  background-color: var(--blue);
}

